// Colors
$primary-color: #d0a144;
$link-color: #784f33;
$light-bg-color: #295c7a;
$dark-background-color: #252b42;
$main-text-color: #252b42;
$secondary-text-color: #737373;
$grey-color: #fafafa;
$white-color: #fff;
$submit-color: #d0a144;

// Fonts
$header-font: "Martel", serif;
$main-font: "Open Sans", sans-serif;

// Box Shadow
$shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
